<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{fragments/header.html::fragment-menu}"></div>
	<h2 align="center">글 쓰 기</h2>
	<div>
		<form action="insert" method="post">
			<table align="center">
				<tr>
						<td>작성자</td>
						<td><input name="writer" th:value="${loginUser.id}" readonly></td>
				</tr>
				<tr>
					<td>제목</td>
					<td><input name="title"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea name="content" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
					<td>작성일</td>
					<td><input name="createDate" th:value="*{#temporals.format(board.create)"></td>
				</tr>
				<tr>
					<td>조회수</td>
					<td><input name="count" th:value="${board.count}"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="수정" style="width: 80px;">&emsp;
						<input type="${reply.size <= 0}" type="button" value="삭제" style="width: 80px;" id="delete">
					</td>
				</tr>
			</table>
		</form>
		
		<table>
			<thread>
				<tr>
					<th>댓글 작성</th>
					<span th:if="${loginUser != null}">
						<td><textarea cols="35" rows="3" id="replyContent"></textarea></td>
						<td><input type="button" value="등록" id="insertReply"></td>
					</span>
					<td th:unless="${loginUser == null}" colspan="2">로그인 후 댓글을 작성하세요</td>
				</tr>
				<tr>
					<td colspan="2">
						댓글의 총 갯수 : <span th:text="${reply.size()}"></span>
					</td>
				</tr>
				<tr>
					<th>작성자</th>
					<th>내용</th>
					<th>작성일</th>
				</tr>
				</thread>
				<tbody>
					<tr th:each="r : ${reply}">
						<td th:text="${r.writer}"></td>
						<td th:text="${r.content}"></td>
						<td th:text="&{#temporals.format(r.createDate, 'yyyy-MM-dd')}"></td>
					</tr>
				</tbody>
		</table>
	</div>
</body>
</html>